* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0d3b54;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #0c2e42;
  border-bottom: 1px solid #1b4b63;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #c7762e;
}

.about {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: center;
  background-color: #134a6600;
  padding: 40px;
  border-radius: 10px;
  width: 70%;
}

.profile-pic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 30px;
}

.about-text h2 {
  margin-bottom: 15px;
  color: #fff;
}
