* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0d3b54;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #0c2e42;
  border-bottom: 1px solid #1b4b63;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #c7762e;
}

/* SOBRE MÍ */
.about {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  background-color: #0d3b54;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  border-radius: 10px;
  width: 75%;
}

.bordered-box {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 20px;
  background-color: transparent;
}

.profile-pic {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
}

.about-text {
  max-width: 500px;
  height: 200px;
  color: #fff;
  border-radius: 10px;
}

.about-text h2 {
  margin: 8px;
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #e2e2e2;
}

.about-text p {
  margin: 8px;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #e2e2e2;
}

.profile-pic img {
  width: 120px;
  height: 120px;
  border-radius: 30%;
}

/* PROJECTOS */

.projects {
  padding: 60px 10%;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.project-card {
  background-color: #102f43;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.project-img {
  background-color: #444;
  height: 150px;
}

.project-info {
  padding: 20px;
  text-align: left;
}

.project-info h3 {
  color: #fff;
  margin-bottom: 10px;
}

.project-info p {
  color: #cfcfcf;
  margin-bottom: 15px;
}

.tech-icons img {
  width: 25px;
  margin-right: 8px;
}

/* CONTACTO === FOOTER */
.contact {
  padding: 60px 0;
  background-color: #0c2e42;
  text-align: center;
}

.contact-icons a img {
  width: 50px;
  margin: 0 20px;
  transition: transform 0.3s;
}

.contact-icons a img:hover {
  transform: scale(1.2);
}

footer {
  background-color: #1D1D1D;
  padding: 20px;
  text-align: center;
  color: #e2e2ee;
  font-size: 14px;
}